.venv/
__pycache__/
*.pyc

.Rhistory
.RData

.env

data/raw/
data/processed/

!data/sample/
!data/sample/**

# SEG annotation files
*.seg*.bak

# Confidential raw speech data
*.wav
*.WAV
*.TextGrid
*.textgrid
*.TEXTGRID
